<body>
  <main class="main">
    <div class="container">

      <!-- Menu du haut de page -->
      <header class="bg-primary rounded-4 shadow-sm mb-4 p-3">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid d-flex justify-content-between align-items-center">
            <h1 class="fs-2 fw-bold h3 mb-0 text-white">{{ title }}</h1>
            <a class="btn btn-light btn-lg" routerLink="/" title="Accueil">🏠</a>
          </div>
        </nav>
      </header>

      <!-- Contenu principal injecté par le router -->
      <section>
        <router-outlet></router-outlet>
      </section>

    </div>
  </main>
</body>
