/* Global body and main styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f9fa; /* light gray background */
  color: #343a40;
  height: 100vh;
  width: 100%;
}

main {
  margin: 0 auto;
}

section {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1100px;
}


