<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TP5</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/weather-icons.min.css" />

    <style>
        body {
            /*background-color: #f8f9fa; /* Couleur de fond douce */
            background: linear-gradient(to right, #3B82F6, #9333EA);
            font-family: "Helvetica Neue", Arial, sans-serif;
            font-size: 16px;
            margin: 0 auto;
            max-width: 800px;
            padding-top: 30px;
        }

        .container {
            padding-top: 20px;
        }

        .form-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            margin-bottom: 30px;
        }

        .card-header {
            background-color: #455871; /* Bleu Bootstrap */
            color: white;
        }

        a {
            cursor: pointer;
        }

        a:hover {
            background-color: #45587127;
        }

    </style>

</head>

<body>
    <div id="weatherApp" class="container">

        <!-- Formulaire de saisie de ville -->
        <div class="form-container border border-primary-subtle border-1">
            <form v-on:submit="addCity">
                <div class="input-group mb-2 d-flex gap-2">
                    <input
                        type="search"
                        class="form-control p-2 border border-primary rounded-3"
                        v-model="formCityName"
                        placeholder="Entrez le nom d'une ville"
                        aria-label="Search for..."
                        autofocus
                        required
                    />
                    <div class="input-group-append">
                        <button class="btn btn-primary p-2 border rounded-3" type="submit">Go</button>
                    </div>
                </div>

                <!-- Affichage du nombre de caractères saisis -->
                <small class="text-muted"> {{ formCityName.length }} car.</small>

                <!-- Message d'erreur -->
                <div class="alert alert-danger mt-3" role="alert" v-if="messageForm != ''">
                    {{ messageForm }}
                </div>
            </form>
        </div>

        <!-- Liste des villes -->
        <div class="card shadow-sm mb-4 border-primary-subtle rounded-3">
            <div class="card-header pt-3">
                <h4>Liste des villes ({{cityList.length}})</h4>
            </div>
            <ul class="list-group p-1">
                <a
                    v-for="city in cityList"
                    v-on:click="meteo(city)"
                    class="list-group-item d-flex justify-content-between align-items-center m-1 border border-primary-subtle "
                >
                    {{city.name}}
                    <button
                    v-on:click="remove(city)"
                    class="btn btn-secondary btn-sm"
                    title="Supprimer de la liste"
                    >
                    &times;
                    </button>
                </a>
            </ul>
        </div>

        <!-- meteo de la ville selectionnée -->
        <div v-if="cityWeatherLoading" class="d-flex justify-content-center" style="height: 100vh;" role="status">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>

        <div class="mb-5 border-primary-subtle rounded-3" v-if="cityWeather">
            <div class="card" style="max-width: 100%;" v-if="cityWeather">
                <div class="card-header">{{cityWeather.name}} @{{cityWheaterDate}}</div>
                <iframe
                class="card-img-top"
                alt="Card image cap"
                width="100%"
                height="200"
                frameborder="0"
                scrolling="no"
                v-bind:src="'https://www.openstreetmap.org/export/embed.html?bbox=' + openStreetMapArea + '&layer=mapnik&marker=' + cityWeather.coord.lat + '%2C' + cityWeather.coord.lon"
                >
                </iframe>

                <div class="card-body">
                <h5 class="card-title">
                    <i v-bind:class="'wi wi-owm-day-'+cityWeather.weather[0].id"></i>
                    {{cityWeather.main.temp}}<i class="wi wi-celsius"></i>
                </h5>
                <p class="card-text">{{cityWeather.weather[0].description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="wi wi-cloud"></i> Nuage: {{cityWeather.clouds.all}}%
                </li>
                <li class="list-group-item">
                    <i class="wi wi-humidity"></i> Humidité: {{cityWeather.main.humidity}}%
                </li>
                <li class="list-group-item">
                    <i class="wi wi-windy"></i> Vent: {{cityWeather.wind.speed}} km/h
                </li>
                <li class="list-group-item">
                    <i class="wi wi-sunrise"></i>
                    Levé du soleil: {{new Date(cityWeather.sys.sunrise *
                    1000).toTimeString()}}
                </li>
                <li class="list-group-item">
                    <i class="wi wi-sunset"></i>
                    Couché du soleil: {{new Date(cityWeather.sys.sunset *
                    1000).toTimeString()}}
                </li>
                </ul>
            </div>
        </div>  

    </div>
    <script src="js/libs/vue.js"></script>
    <script src="js/libs/bootstrap.bundle.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
